[Desktop Entry]
Type=Application
Name=JsonXmlEditor
Comment=JsonXmlEditor
Exec=JsonXmlEditor
Icon=JsonXmlEditor
Terminal=false
Categories=Utility;
StartupNotify=true
